*{
  margin: 0;
  padding: 0;
}
.App{
  background: url('https://cdn.wallpapersafari.com/12/24/GiZRfh.jpg');
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}
.input-section{
  width: 50%;
  margin: auto;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input{
  margin: 5px !important;
}

.result {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 25%;
  margin: 25px auto;
  word-wrap: break-word;
}

.result h1{
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}